.mainbackground {
    background: #363636;  /* black  grey  -  #B5B5B5; */
    overflow: hidden; /* Свойство overflow управляет отображением содержания блочного элемента */
    color: white;
}
body {
    background: #c7b39b;
    color: #fff; /* Цвет текста */
}
td {
    display: table-cell;
    vertical-align: inherit;
    color: white;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    font-style: oblique; /* Курсивное начертание */
}
p {
    color: white;
}
h2 {
    color: silver
}
button {
    border-radius: 4px;
    padding: 4px 25px;
    color: white;
    border: 0px;
    background: #006400;
}
button .b1 {
    background: navy; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}
a {
    color: #b49fcc;
}
a:link {
    color: #00FF00;
}
a:visited {
    color: #00BFFF;
}
a:active {
    color: blue;
}
li:hover {      /* Определяет стиль элемента при наведении на него курсора мыши   */
    background: #707C7A;
}
.m-3 {
    background: #2F4F4F;
}
.row col-md-6 {
    background: #ffffff;
}
input:focus {
    outline: none; /* Скрываем рамку */
}